In [28]:
import pandas as pd
import numpy as np
import statistics as stats
import pandas as pd
import numpy as np
import statistics as stats

import warnings
warnings.filterwarnings('ignore')

import pylab as plt
import seaborn as sns

In [36]:
data = pd.read_csv('../Data/Viajeros.csv', sep=';')

In [42]:
data.reset_index(inplace=True)

In [50]:
nombres_viejos = data.columns
nombres_viejos

Index(['level_0', 'level_1', 'level_2', 'level_3', 'level_4', 'Viajeros'], dtype='object')

In [49]:
nombres_nuevos = list(data.iloc[0,:])
nombres_nuevos

['Totales Territoriales',
 'Comunidad Autónoma',
 'Viajeros o pernoctaciones',
 'Residencia',
 'Periodo',
 'Total']

In [53]:
rename_dict = dict(zip(nombres_viejos,nombres_nuevos))
rename_dict

{'level_0': 'Totales Territoriales',
 'level_1': 'Comunidad Autónoma',
 'level_2': 'Viajeros o pernoctaciones',
 'level_3': 'Residencia',
 'level_4': 'Periodo',
 'Viajeros': 'Total'}

In [54]:
data.rename(columns=rename_dict,inplace=True)

In [55]:
data

,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
0,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
1,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M09,564.048
2,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M08,467.045
3,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M07,563.343
4,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M06,615.313
...,...,...,...,...,...,...
144,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2021M01,109.984
145,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M12,113.179
146,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M11,102.407
147,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M10,110.247
148,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M09,128.843

In [56]:
data.iloc[1:,:]

,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
1,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M09,564.048
2,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M08,467.045
3,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M07,563.343
4,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M06,615.313
5,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M05,567.870
...,...,...,...,...,...,...
144,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2021M01,109.984
145,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M12,113.179
146,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M11,102.407
147,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M10,110.247
148,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M09,128.843

In [57]:
data = data.iloc[1:,:]
data

,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
1,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M09,564.048
2,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M08,467.045
3,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M07,563.343
4,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M06,615.313
5,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M05,567.870
...,...,...,...,...,...,...
144,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2021M01,109.984
145,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M12,113.179
146,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M11,102.407
147,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M10,110.247
148,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M09,128.843

In [58]:
data.reset_index(inplace=True)

In [59]:
data

,index,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
0,1,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M09,564.048
1,2,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M08,467.045
2,3,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M07,563.343
3,4,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M06,615.313
4,5,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M05,567.870
...,...,...,...,...,...,...,...
143,144,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2021M01,109.984
144,145,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M12,113.179
145,146,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M11,102.407
146,147,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M10,110.247
147,148,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M09,128.843

In [60]:
data.drop(columns="index",inplace=True)

In [61]:
data

,Totales Territoriales,Comunidad Autónoma,Viajeros o pernoctaciones,Residencia,Periodo,Total
0,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M09,564.048
1,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M08,467.045
2,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M07,563.343
3,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M06,615.313
4,Total Nacional,"13 Madrid, Comunidad de",Viajero,Residentes en España,2023M05,567.870
...,...,...,...,...,...,...
143,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2021M01,109.984
144,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M12,113.179
145,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M11,102.407
146,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M10,110.247
147,Total Nacional,"13 Madrid, Comunidad de",Pernoctaciones,Residentes en el Extranjero,2020M09,128.843